<div class="about-section">
    <div class="about-section__container my__container">
        <div class="about-section__wrap">
            <div class="about-section__glow"></div>
            <div class="about-section__flex">
                <div class="about-section__column about-section__column--left">
                   <div class="neo-about-content">
                        <h2 class="neo-section-title">
                            <span data-char="A">A</span><span data-char="b">b</span><span data-char="o">o</span><span data-char="u">u</span><span data-char="t">t</span><span data-char=" " class="text-gradient font-secondary uppercase">&nbsp;</span><span data-char="M" class="text-gradient font-secondary uppercase">M</span><span data-char="e" class="text-gradient font-secondary uppercase">e</span><span data-char="m" class="text-gradient font-secondary uppercase">m</span><span data-char="e" class="text-gradient font-secondary uppercase">e</span><span data-char="t" class="text-gradient font-secondary uppercase">t</span><span data-char="r" class="text-gradient font-secondary uppercase">r</span><span data-char="i" class="text-gradient font-secondary uppercase">i</span><span data-char="x" class="text-gradient font-secondary uppercase">x</span>
                        </h2>
                        <p class="mb-[16px]">Memetrix is not just another crypto token—it's a movement for genuine financial freedom, decentralization, and disruption of the crypto landscape.</p>
                        <p class="mb-[16px]">It's your chance to join a revolution against centralized control and be at the forefront of an unprecedented presale structure. Act fast to secure your role in reshaping crypto history, because the stages move quickly.</p>
                        <h5 class="feature-title mt-[36px] mb-[24px]">
                            <span>Memetrix’s Revolutionary Edge</span>
                        </h5>
                        <div class="features">
                            <div class="feature-item">
                                <h6 class="mb-[12px]">Revolutionary Spirit</h6>
                                <p class="disc">Memetrix defies meme coin tradition, leading the fight against crypto centralization.</p>
                            </div>
                            <div class="feature-item">
                                <h6 class="mb-[12px]">Designed to Dominate</h6>
                                <p class="disc">Act fast—Memetrix's visionary presale lets you shape crypto's decentralized future.</p>
                            </div>
                            <div class="feature-item">
                                <h6 class="mb-[12px]">Unmatched Innovation</h6>
                                <p class="disc">Memetrix's auto-liquidity tech empowers early adopters with unmatched stability.</p>
                            </div>
                            <div class="feature-item">
                                <h6 class="mb-[12px]">Empowerment Through Action</h6>
                                <p class="disc">Join Memetrix now and drive the Memetrix Revolution forward!</p>
                            </div>
                        </div>
                        <div class="contract">
                            <h6 class="title">
                                <span>Smart Contracts Audited by</span>
                            </h6>
                            <div class="img-wrap">
                                <a href="#" target="" rel="noopener noreferrer">
                                    <img alt="CyberScope Logo" loading="lazy" width="130" height="33" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </a>
                                <a href="@" target="" rel="noopener noreferrer">
                                    <img alt="Coinsult Logo" loading="lazy" width="123" height="32" src="{{'images/contract-logo-3.png' | asset_url }}">
                                </a>
                                <a href="#" target="" rel="noopener noreferrer">
                                    <img alt="Certik Logo" loading="lazy" width="130" height="33" src="{{'images/contract-logo-1.png' | asset_url }}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-section__column about-section__column--right">
                    <div class="neo-about-img">
                        <img alt="Pepe" loading="lazy" width="500" height="780" src="{{"images/about-1.gif" | asset_url }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>