<div class="neo-brand-area">
    <div class="my__container">
        <div class="neo-brand-main-wrap">
            <div class="rfm-marquee-container" style="--pause-on-hover: paused; --pause-on-click: paused; --width: 100%; --transform: none;">
                <div class="rfm-marquee" style="--play: running; --direction: normal; --duration: 27.92s; --delay: 0s; --iteration-count: infinite; --min-width: 100%;">
                    <div class="rfm-initial-child-container">
                        <div class="rfm-child">
                            <div class="neo-brand-wrap">
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="163" height="40" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="137" height="34" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="203" height="50" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="163" height="40" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="194" height="48" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="126" height="31" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                                <div class="neo-brand-item">
                                    <img alt="brand" loading="lazy" width="183" height="50" src="{{'images/contract-logo-2.png' | asset_url }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rfm-marquee" style="--play: running; --direction: normal; --duration: 27.92s; --delay: 0s; --iteration-count: infinite; --min-width: 100%;">
                    <div class="rfm-child" style="--transform: none;">
                        <div class="neo-brand-wrap">
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="163" height="40" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="137" height="34" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="203" height="50" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="163" height="40" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="194" height="48" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="126" height="31" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                            <div class="neo-brand-item">
                                <img alt="brand" loading="lazy" width="183" height="50" src="{{'images/contract-logo-2.png' | asset_url }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>