<div class="neo-tokenomics-area" id="tokenomics" x-init="addActiveOnHover($el, 'chart-item')">
    <img alt="background" loading="lazy" width="1820" height="1080" class="token-bg"
        src="https://memetrix.net/static/images/tokenomics-bg.png">

    <div class="neo-tokenomics-wrap">
        <div class="my__container">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="neo-index-upper-3 text-center">
                        <h2 class="neo-section-title">
                            <span data-char="T">T</span><span data-char="o">o</span><span data-char="k">k</span><span
                                data-char="e">e</span><span data-char="n">n</span><span data-char="o">o</span><span
                                data-char="m">m</span><span data-char="i">i</span><span data-char="c">c</span><span
                                data-char="s">s</span><span data-char=" ">&nbsp;</span><span data-char="D">D</span><span
                                data-char="e">e</span><span data-char="t">t</span><span data-char="a">a</span><span
                                data-char="i">i</span><span data-char="l">l</span><span data-char="s">s</span>
                        </h2>
                        <p class="mb-0">Transparent. Balanced. Battle-Ready. It’s a symbol of rebellion in the crypto
                            world.</p>
                    </div>
                </div>
            </div>
            <div class="neo-tokenomics-box">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="subtitle">Total Supply</h6>
                        <h2 class="title h1">1,000,000,000 <br> <span>MEMETRIX Tokens</span></h2>
                        <ul class="list">
                            <li>All unsold tokens will be burned.</li>
                            <li>Liquidity locked post-launch.</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 coin-code">
                        <div class="neo-clip-box gap-2">
                            <span class="clip-text">0x1145214f11374d3bc5b3c83518d10afaa90da6bd</span>

                            <button onclick="copyAddressToClipboard(this, '0x1145214f11374d3bc5b3c83518d10afaa90da6bd')"
                                type="button" class="clip-btn flex items-center justify-center">
                                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="copy"
                                    class="svg-inline--fa fa-copy " role="img" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M384 336l-192 0c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l140.1 0L400 115.9 400 320c0 8.8-7.2 16-16 16zM192 384l192 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-32-48 0 0 32c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l32 0 0-48-32 0z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="neo-tokenomics-chart active">
                    <div class="chart-item-wrap">
                        <div class="chart-item">
                            <img class="pepe" alt="pepe" loading="lazy" width="200" height="200"
                                src="https://memetrix.net/static/images/lucudity.gif?v=1">
                            <span class="number"><span>10</span>%</span>
                            <h6 class="chart-title">Liquidity</h6>
                        </div>
                    </div>
                    <div class="chart-item-wrap">
                        <div class="chart-item">
                            <img class="pepe" alt="pepe" loading="lazy" width="200" height="163"
                                src="https://memetrix.net/static/images/marketing.gif">
                            <span class="number"><span>25</span>%</span>
                            <h6 class="chart-title">Marketing</h6>
                        </div>
                    </div>
                    <div class="chart-item-wrap">
                        <div class="chart-item">
                            <img class="pepe" alt="pepe" loading="lazy" width="200" height="200"
                                src="https://memetrix.net/static/images/ecosytem.gif">
                            <span class="number"><span>5</span>%</span>
                            <h6 class="chart-title">Ecosystem</h6>
                        </div>
                    </div>
                    <div class="chart-item-wrap">
                        <div class="chart-item">
                            <img class="pepe" alt="pepe" loading="lazy" width="200" height="200"
                                src="https://memetrix.net/static/images/presale.gif">
                            <span class="number"><span>45</span>%</span>
                            <h6 class="chart-title">Presale</h6>
                        </div>
                    </div>
                    <div class="chart-item-wrap">
                        <div class="chart-item active">
                            <img class="pepe" alt="pepe" loading="lazy" width="200" height="200"
                                src="https://memetrix.net/static/images/giveaway.gif?v=1">
                            <span class="number"><span>5</span>%</span>
                            <h6 class="chart-title">Giveaways</h6>
                        </div>
                    </div>
                    <div class="chart-item-wrap">
                        <div class="chart-item">
                            <img class="pepe" alt="pepe" loading="lazy" width="200" height="200"
                                src="https://memetrix.net/static/images/development.gif">
                            <span class="number"><span>10</span>%</span>
                            <h6 class="chart-title">Development</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
    </div>
</div>
<script>
    function addActiveOnHover(parent, childClass) {
        if (!parent) return;
        const children = parent.querySelectorAll('.' + childClass);
        children.forEach(child => {
            child.addEventListener('mouseover', function () {
                children.forEach(el => el.classList.remove('active'));
                child.classList.add('active');
            });
        });
    }
</script>