@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
    @apply bg-main-bg text-body font-spacegrotesk h-screen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    word-break: break-word;
}

h6 {
    @apply text-[18px] leading-[1.25];
}

hr {
    @apply border-0 h-px mb-6;
    background-size: 4px 4px;
}

button{
    @apply cursor-pointer;
}

.btn-primary{
    @apply px-6 py-4 text-[10px] cursor-pointer bg-primary border-0 flex items-center gap-2 text-main-bg font-black rounded-lg uppercase relative;
    transition: var(--transition-3);
}

.my__container{
    @apply w-full px-3 mx-auto;
    
    /* Responsive max-widths using standard Tailwind breakpoints */
    @media (min-width: 640px) {
        max-width: 640px;
    }
    
    @media (min-width: 768px) {
        max-width: 768px;
    }
    
    @media (min-width: 1024px) {
        max-width: 1024px;
    }
    
    @media (min-width: 1280px) {
        max-width: 1280px;
    }
    
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
}