.about-section {
    @apply overflow-hidden;

    &__container {
    }

    &__wrap {
        @apply rounded-[16px] relative pt-[80px] pe-[50px] pb-[70px] ps-[100px] border border-dark;

        @media only screen and (max-width: 575px) {
            @apply py-[36px] px-[24px];
        }

        @media only screen and (max-width: 1399px) {
            @apply p-[50px];
        }

        &::before {
            content: "";
            @apply absolute left-0 top-0 w-full h-full -z-10 rounded-[16px];
            background: url(/assets/images/about-bg.png);
            background-size: cover;
            background-position: 50%;
        }
    }

    &__glow {
        @apply absolute right-0 w-[111px] h-[631px] -z-10 rounded-[41px];
        background: radial-gradient(
            40.36% 40.36% at 42.09% 33.24%,
            rgba(42, 198, 21, 0.5) 0,
            rgba(0, 3, 4, 0.5) 100%
        );
        filter: blur(75px);
        transform: matrix(0.68, -0.73, -0.73, -0.68, 0, 0);
    }

    &__flex {
        @apply flex flex-wrap items-center;
    }

    &__column {
        @apply w-full max-w-full px-[12px] shrink-0 relative;

        @media (min-width: 1200px) {
            @apply flex-none w-1/2;
        }
    }

    &__column--right {
        @apply hidden;

        @media (min-width: 1200px) {
            @apply block;
        }

        .neo-about-img{
            @apply mb-[-100px];
        }
    }

    .neo-about-content {
        .feature-title {
            @apply text-primary;
        }

        .features {
            @apply grid grid-cols-2 gap-y-5 gap-x-6;

            .feature-item {
                @apply ps-[22px] relative;

                &::after {
                    content: "";
                    @apply absolute left-0 top-0 w-[10px] h-5;
                    background: url(/assets/svg/title-arrow.svg);
                }

                .disc {
                    @apply text-[14px] leading-[22px];
                }
            }
        }

        .contract {
            @apply mt-[65px];

            .title {
                @apply text-base leading-6 font-bold mb-6;
                color: var(--color-body-shade);
            }

            .img-wrap {
                @apply flex items-center flex-wrap;
                gap: 12px 34px;
            }
        }
    }
}
