html[dir=rtl] .neo-roadmap-card .card-content .card-list li {
    padding: 15px 38px 15px 20px
}

html[dir=rtl] .neo-roadmap-card .card-content .card-list li.check {
    padding: 15px 44px 15px 20px
}

html[dir=rtl] .neo-roadmap-card .card-content .card-list li:after {
    left: auto;
    right: 20px;
    transform: scaleX(-1)
}

html[dir=rtl] .neo-roadmap-slider-nav {
    left: auto;
    right: 0
}

html[dir=rtl] .roadmap-slider-prev {
    transform: scale(-1)
}

html[dir=rtl] .roadmap-slider-next {
    transform: scale(1)
}

.neo-roadmap-area {
    overflow: hidden
}

.neo-roadmap-wrap {
    display: flex;
    gap: 130px;
    position: relative
}

@media only screen and (max-width: 1399px) {
    .neo-roadmap-wrap {
        gap:70px
    }
}

@media only screen and (max-width: 1199px) {
    .neo-roadmap-wrap {
        flex-direction:column;
        gap: 40px
    }
}

.neo-roadmap-wrap .title-wrap {
    flex: 0 0 auto;
    max-width: 320px;
    position: relative
}

@media only screen and (max-width: 1199px) {
    .neo-roadmap-wrap .title-wrap {
        margin:0 auto;
        text-align: center
    }
}

.neo-roadmap-wrap .title-wrap .shape-1 {
    width: 698px;
    position: absolute;
    left: -250px;
    top: -160px
}

@media only screen and (max-width: 1199px) {
    .neo-roadmap-wrap .title-wrap .shape-1 {
        max-width:500px;
        left: -100px;
        top: -120px
    }
}

.neo-roadmap-wrap .title-wrap .bootom-last {
    margin-bottom: 120px;
    color: var(--color-body-shade)
}

@media only screen and (max-width: 1199px) {
    .neo-roadmap-wrap .title-wrap .bootom-last {
        margin-bottom:0
    }
}

.neo-roadmap-slider {
    max-width: 1720px
}

.neo-roadmap-slider-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    display: flex;
    align-items: center;
    gap: 8px
}

@media only screen and (max-width: 1199px) {
    .neo-roadmap-slider-nav {
        position:static;
        justify-content: center
    }
}

.neo-roadmap-card {
    border: 1px solid var(--color-dark);
    border-radius: 26px;
    padding: 10px
}

.neo-roadmap-card .card-content {
    background: linear-gradient(166.42deg,var(--color-dark) 0,#070707 90.27%);
    border: 1px solid rgba(42,198,21,.1);
    border-radius: 16px;
    padding: 30px 35px 35px;
    transition: var(--transition-1)
}

@media only screen and (max-width: 479px) {
    .neo-roadmap-card .card-content {
        padding:30px 24px
    }
}

.neo-roadmap-card .card-content .title {
    color: var(--color-primary);
    margin-bottom: 0
}

.neo-roadmap-card .card-content .subtitle {
    @apply mb-[20px];
    color: var(--color-body)
    
}

.neo-roadmap-card .card-content .neo-progress-bar {
    max-width: 311px;
    margin-bottom: 28px
}

.neo-roadmap-card .card-content .card-list {
    margin: 0;
    list-style: none;
    padding: 0
}

.neo-roadmap-card .card-content .card-list li {
    background: var(--color-main-bg);
    border: 1px solid rgba(200,233,219,.1);
    border-radius: 8px;
    padding: 15px 20px 15px 38px;
    position: relative;
    color: var(--color-body-shade);
    font-size: 14px
}

@media only screen and (max-width: 479px) {
    .neo-roadmap-card .card-content .card-list li {
        padding:12px 14px 12px 36px;
        font-size: 13px
    }
}

.neo-roadmap-card .card-content .card-list li:after {
    content: "";
    position: absolute;
    left: 20px;
    top: 16px;
    width: 8px;
    height: 17px;
    background: url(../images/list-arrow.3e99a668.svg)
}

@media only screen and (max-width: 479px) {
    .neo-roadmap-card .card-content .card-list li:after {
        left:15px;
        top: 12px
    }
}

.neo-roadmap-card .card-content .card-list li.check {
    padding: 15px 20px 15px 44px;
    background-color: var(--color-dark)
}

@media only screen and (max-width: 479px) {
    .neo-roadmap-card .card-content .card-list li.check {
        padding:12px 14px 12px 40px
    }
}

.neo-roadmap-card .card-content .card-list li.check:after {
    background: url(../images/square-check.751481eb.svg);
    width: 14px;
    height: 15px;
    top: 17.5px
}

@media only screen and (max-width: 479px) {
    .neo-roadmap-card .card-content .card-list li.check:after {
        top:14px
    }
}

.neo-roadmap-card.active .card-content {
    border-color: var(--color-primary)
}

.roadmap-slider-prev {
    width: 50px;
    height: 50px;
    background: var(--color-dark);
    border: 1px solid hsla(0,0%,100%,.08);
    border-radius: 8px
}

.roadmap-slider-prev,.roadmap-slider-prev svg g {
    transition: var(--transition-1)
}

.roadmap-slider-prev:hover {
    border-color: var(--color-dark)
}

.roadmap-slider-prev:hover svg g {
    fill: var(--color-primary)
}

.roadmap-slider-next {
    width: 50px;
    height: 50px;
    background: var(--color-dark);
    border: 1px solid hsla(0,0%,100%,.08);
    border-radius: 8px;
    transform: matrix(-1,0,0,1,0,0)
}

.roadmap-slider-next,.roadmap-slider-next svg g {
    transition: var(--transition-1)
}

.roadmap-slider-next:hover {
    border-color: var(--color-dark)
}

.roadmap-slider-next:hover svg g {
    fill: var(--color-primary)
}
